{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:product_import_csv' %}" class="addlink">
            Import Products (CSV)
        </a>
    </li>
    <li>
        <a href="{% url 'admin:product_export_csv' %}" class="addlink">
            Export Products (CSV)
        </a>
    </li>
    <li>
        <a href="{% url 'admin:product_inventory' %}" class="addlink">
            Manage Inventory
        </a>
    </li>
    {{ block.super }}
{% endblock %} 